<span [ngClass]='{"sb-nav-fixed": !static}'>
    <sb-topnav></sb-topnav>
    <div id="sidenav-layout">
        <div id="sidenav-layout-nav">
            <sb-side-nav 
                [sideNavItems]="sideNavItems"
                [sideNavSections]="sideNavSections">
            </sb-side-nav>
        </div>
        <div id="sidenav-layout-content">
            <main>
                <div class="container-fluid">
                    <ng-content></ng-content>
                </div>
            </main>
            <sb-footer></sb-footer>
        </div>
    </div>
</span>