.alert.alert-light.text-center(role='alert')
  h3.alert-heading.text-danger
    fa-icon([icon]='["fas", "question-circle"]')
  p
    | Are you sure you want to delete the 
    span.font-weight-bold {{domain?.name}}
    |  Domain?
