sb-layout-main
  ng-container(header)
    sb-header(title='Emission Types', subtitle='Gaseous compounds in the atmosphere that are capable of absorbing infrared radiation')
  ng-container(body')
    sb-card
      .card-header
        | Emission Types List
      .card-body
        sb-emission-types-records-tabulation([pagesize]='6')
