<form [formGroup]="domainsForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="" formControlName="name">
        <div *ngIf="domainsForm.get('name').invalid && (domainsForm.get('name').dirty || domainsForm.get('name').touched)"
            class="alert alert-danger mt-3">
            <div *ngIf="domainsForm.get('name').errors.required">
                Name is required.
            </div>
            <div *ngIf="domainsForm.get('name').errors.minlength">
                Name must be at least 2 characters long.
            </div>
            <div *ngIf="domainsForm.get('name').errors.maxlength">
                Name cannot be more than 50 characters long.
            </div>
            <div *ngIf="domainsForm.get('name').errors.exists">
                Name should be unique.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description <span class="text-secondary"> (Optional)</span></label>
        <textarea class="form-control" id="description" placeholder="" rows="3"
            formControlName="description"></textarea>
        <div *ngIf="domainsForm.get('description').invalid && (domainsForm.get('description').dirty || domainsForm.get('description').touched)"
            class="alert alert-danger mt-3">
            <div *ngIf="domainsForm.get('description').errors.maxlength">
                Description cannot be more than 250 characters long.
            </div>
        </div>
    </div>
</form>