#layoutHome {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  #layoutHome_content {
    min-width: 0;
    flex-grow: 1;
  }
  #layoutHome_footer {
    min-width: 0;
  }
}

.img-Home {
    max-width: 20rem;
}
