sb-layout-main
  ng-container(header)
    sb-header(title='Party Types', subtitle='Units of measurements groupings')
  ng-container(body')
    sb-card
      .card-header
        | Party Types List
      .card-body
        sb-party-types-records-tabulation([pagesize]='6')
