sb-layout-main
  ng-container(header='')
    sb-header(title='Land Use Subcategories', subtitle="The Reporting Framework's Land Use Subcategories", [hidebreadcrumbs]='false')
  ng-container(body='')
    sb-card
      .card-header
        | Land Use Subcategories List
      .card-body
        sb-land-use-subcategories-records-tabulation([pagesize]='6')