// Headers

$header-light-bg: $blue-light-300;
$header-light-title-color: $gray-dark-900;
$header-light-subtitle-color: $gray-dark-500;

$header-dark-bg: $gray-light-300;
$header-dark-title-color: $gray-dark-900;
$header-dark-subtitle-color: $gray-dark-500;