<sb-modal>
    <ng-container title>
        Delete {{targetUnitCategory.name}} Unit Record
    </ng-container>
    <ng-container body>

        <sb-units-records-deletion [targetUnitCategory]="targetUnitCategory" [id]="id" (succeeded)="onSucceeded()" (failed)="onFailed($event)">
        </sb-units-records-deletion>

        <ng-container *ngIf='(status$ | async) === "deleting"'>
            <sb-message-overlay activity="deleting" status="deleting"></sb-message-overlay>
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "succeeded"'>
            <sb-message-overlay activity="deleting" status="succeeded"></sb-message-overlay>
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "failed"'>
            <sb-message-overlay activity="deleting" status="failed"></sb-message-overlay>
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "retrying"'>
            <sb-countdown-overlay crosshead="Retrying in " (completed)="onDelete()"></sb-countdown-overlay>
        </ng-container>

    </ng-container>
    <ng-container footer>

        <ng-container *ngIf='(status$ | async) === "new"'>
            <sb-button action="yes" entity="Unit" (yes)="onDelete()"></sb-button>
            <sb-button action="no" entity="Unit" guarded="false" (no)="onQuit()"></sb-button>             
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "deleting"'>
            <sb-button action="yes" entity="Unit" disabled="true"></sb-button>
            <sb-button action="no" entity="Unit" disabled="true"></sb-button>             
        </ng-container>     

        <ng-container *ngIf='(status$ | async) === "succeeded"'>
            <sb-button action="yes" entity="Unit" disabled="true"></sb-button>
            <sb-button action="no" entity="Unit" disabled="true"></sb-button>               
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "failed"'>
            <sb-button action="yes" entity="Unit" (yes)="onRetry()"></sb-button>
            <sb-button action="no" entity="Unit" guarded="false" (no)="onQuit()"></sb-button>            
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "retrying"'>
            <sb-button action="yes" entity="Unit" disabled="true"></sb-button>
            <sb-button action="no" entity="Unit" disabled="true"></sb-button> 
        </ng-container>         

    </ng-container>
</sb-modal>