<div class="item">
    <div class="item-image">
        <img src="{{details?.img}}" style="vertical-align: middle;" alt="" />
    </div>
    <div class="item-text">
        <div class="item-text-wrapper">
            <h2 class="item-text-title">{{details?.title}}</h2>            
            <p class="item-text-dek">{{details?.subtitle}}</p>
        </div>
    </div>
    <a class="item-link" href="{{details?.link}}" target="_blank"><fa-icon [icon]='["fas", "external-link-alt"]'></fa-icon></a>
</div>