sb-layout-main
  ng-container(header='')
    sb-header(title='Administrative Units', subtitle='The list of Administrative Units that are of the selected type without any considerations to hierarchical relationships', [hidebreadcrumbs]='false', [dynamicbreadcrumbs]='true')
  ng-container(body='')
    ng-content
