sb-layout-main
  ng-container(header)
    sb-header(title='Reporting Frameworks', subtitle='The supported reporting structures')
  ng-container(body')
    sb-card
      .card-header
        | Reporting Frameworks List
      .card-body
        sb-reporting-frameworks-records-tabulation([pagesize]='6')
