<header [ngClass]="customClasses">
    <div class="container-fluid">
        <div class="pt-4 pb-3">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mx-2 pb-5">
                    <h1 class="header-title">
                        <div class="page-header-icon"><i data-feather="layout"></i></div>
                        {{title}}
                    </h1>
                    <div class="header-subtitle">
                        {{subtitle}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>