sb-layout-main
  ng-container(header='')
    sb-header(title='Administrative Hierarchy Level Members', subtitle='The Administrative Units that fall under the selected Administrative Hierarchy Level', [hidebreadcrumbs]='false', [dynamicbreadcrumbs]='true')
  ng-container(body='')
    ng-content
