.border-lg {
    border-width: 0.25rem !important;
  }
  
  .border-top-lg {
    border-top-width: 0.25rem !important;
  }
  
  .border-right-lg {
    border-right-width: 0.25rem !important;
  }
  
  .border-bottom-lg {
    border-bottom-width: 0.25rem !important;
  }
  
  .border-left-lg {
    border-left-width: 0.25rem !important;
  }