
// Light theme for header

.header-light { 

  background-color: $header-light-bg;

  .header-title {
    color: $header-light-title-color;
  }

  .header-subtitle {
    color: $header-light-subtitle-color;
  }  
}


// Dark theme for header

.header-dark {

  background-color: $header-dark-bg;

  .header-title {
    color: $header-dark-title-color;
  }
  
  .header-subtitle {
    color: $header-dark-subtitle-color;
  }    
}