
// Light theme for modal

.modal-light {
  .modal-title {
    color: $blue-light-900;
    font-size: 1rem;
  }
}


// Dark theme for modal

.modal-dark {
  .modal-title {
    color: $gray-dark-900;
  } 
}