
/*table {

    border-collapse: collapse;

    thead {
        tr {
            th {
                border: 1px solid $gray-light-200 !important;
            }
        }
    }

    tbody {
        tr {
            td {
                border: 1px solid $gray-light-200 !important;
            }

            &:nth-child(odd) {

                td {
                    background-color: $gray-light-100 !important;
                }
    
                tr.found {
                    background-color: $gray-light-100 !important;
                }
            }
        }
    }
}
*/