sb-layout-main
  ng-container(header='')
    sb-header(title='Administrative Units Types', subtitle='The different types of Administrative Units that are available in the system of governance', [hidebreadcrumbs]='true')
  ng-container(body='')
    .card.text-center
      .card-header
        ul.nav.nav-tabs.card-header-tabs
          li.nav-item
            a.nav-link.active([routerlink]="['/parties_types']") Units
          li.nav-item
            a.nav-link([routerlink]="['/accountabilities_types']") Hierarchies
      .card-body
        ng-content
