<div class="d-flex flex-row justify-content-center flex-wrap justify-content-md-between flex-md-nowrap p-1">
    <ngb-pagination [collectionSize]="total$ | async" [(page)]="page" [pageSize]="pageSize" class="text-primary">
    </ngb-pagination>
    <select class="custom-select" style="width: auto;" name="pageSize" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
        <option [ngValue]="8">8 items per page</option>
        <option [ngValue]="10">10 items per page</option>
    </select>
</div>