sb-layout-main
  ng-container(header)
    sb-header(title='Actors', subtitle='The supported reporting structures')
  ng-container(body')
    sb-card
      .card-header
        | Actors List
      .card-body
        sb-actors-records-tabulation([pagesize]='6')
