<sb-layout-dashboard>

    <ng-container header>



        <div *ngIf="!showFilter" class="card bg-transparent border-0">
            <div class="card-body p-3 pt-0 m-0">
                <!-- Header -->
                <div class="d-flex justify-content-between flex-row mt-5 mb-4">

                    <div class="">
                        <h1 class="mb-0">Dashboard</h1>
                        <div class="smaller">
                            <span class="text-violet-tint-2">
                                Reporting Tool
                            </span>
                        </div>
                    </div>

                    <button *ngIf="!showFilter" type="button" class="btn btn-light d-none d-md-block"
                        data-toggle="tooltip" data-placement="top" title="Change Context" (click)="toggleShowFilter()">
                        <span class="filter">Show Filters</span>
                        <span class="filter text-center">
                            <fa-icon [icon]='["fas", "caret-down"]'></fa-icon>
                        </span>
                    </button>

                    <button *ngIf="showFilter" type="button" class="btn btn-light d-none d-md-block"
                        data-toggle="tooltip" data-placement="top" title="Change Context" (click)="toggleShowFilter()">
                        <span class="filter">Hide Filters</span>
                        <span class="filter text-center">
                            <fa-icon [icon]='["fas", "caret-up"]'></fa-icon>
                        </span>
                    </button>

                    <button *ngIf="!showFilter" type="button" class="btn btn-light d-md-none" data-toggle="tooltip"
                        data-placement="top" title="Change Context" (click)="toggleShowFilter()">
                        <span class="filter">
                            <fa-icon [icon]='["fas", "filter"]'></fa-icon>
                        </span>
                        <span class="filter text-center">
                            <fa-icon [icon]='["fas", "caret-down"]'></fa-icon>
                        </span>
                    </button>

                    <button *ngIf="showFilter" type="button" class="btn btn-light d-md-none" data-toggle="tooltip"
                        data-placement="top" title="Change Context" (click)="toggleShowFilter()">
                        <span class="filter">
                            <fa-icon [icon]='["fas", "filter"]'></fa-icon>
                        </span>
                        <span class="filter text-center">
                            <fa-icon [icon]='["fas", "caret-up"]'></fa-icon>
                        </span>
                    </button>

                </div>
            </div>

        </div>

        <div *ngIf="showFilter" class="card shadow mt-5 mb-5 bg-white">
            <div class="card-body p-3 m-0">
                <div class="d-flex justify-content-between flex-row mt-0 mb-4">

                    <div class="">
                        <h1 class="mb-0">Dashboard</h1>
                        <div class="smaller">
                            <span class="text-violet-tint-2">
                                Reporting Tool
                            </span>
                        </div>
                    </div>

                    <button *ngIf="!showFilter" type="button" class="btn btn-light d-none d-md-block"
                        data-toggle="tooltip" data-placement="top" title="Change Context" (click)="toggleShowFilter()">
                        <span class="filter">Show Filters</span>
                        <span class="filter text-center">
                            <fa-icon [icon]='["fas", "caret-down"]'></fa-icon>
                        </span>
                    </button>

                    <button *ngIf="showFilter" type="button" class="btn btn-light d-none d-md-block"
                        data-toggle="tooltip" data-placement="top" title="Change Context" (click)="toggleShowFilter()">
                        <span class="filter">Hide Filters</span>
                        <span class="filter text-center">
                            <fa-icon [icon]='["fas", "caret-up"]'></fa-icon>
                        </span>
                    </button>

                    <button *ngIf="!showFilter" type="button" class="btn btn-light d-md-none" data-toggle="tooltip"
                        data-placement="top" title="Change Context" (click)="toggleShowFilter()">
                        <span class="filter">
                            <fa-icon [icon]='["fas", "filter"]'></fa-icon>
                        </span>
                        <span class="filter text-center">
                            <fa-icon [icon]='["fas", "caret-down"]'></fa-icon>
                        </span>
                    </button>

                    <button *ngIf="showFilter" type="button" class="btn btn-light d-md-none" data-toggle="tooltip"
                        data-placement="top" title="Change Context" (click)="toggleShowFilter()">
                        <span class="filter">
                            <fa-icon [icon]='["fas", "filter"]'></fa-icon>
                        </span>
                        <span class="filter text-center">
                            <fa-icon [icon]='["fas", "caret-up"]'></fa-icon>
                        </span>
                    </button>

                </div>
                <sb-filter></sb-filter>
            </div>
        </div>        



    </ng-container>

    <ng-container  filter>

    </ng-container>




    <!-- Welcome Card -->

    <ng-container *ngIf="false" welcome>

        <div class="card bg-transparent border-0">
            <div class="card-body p-0 pt-0 m-0">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <img class="card-img-top img- fluid" src="https://unsplash.it/id/1021/1080/200"
                                    alt="card image">
                                <div class="card-body">
                                    <h6 class="card-title">Kenya</h6>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-header">
                                    Fact Sheet
                                </div>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ng-container>




    <!-- Content -->
    <ng-container content>

        <div class="card bg-transparent border-0">
            <div class="card-body p-0 pt-0 m-0">
                
                <sb-card *ngIf="!hasProcessedDatabase; else processed ">
                    <div class="card-header">
                        Reports
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="assets/img/no_result.svg"
                                alt="...">
                        </div>
                        <p class="text-center">
                            We could not find any processed FLINT Output Database to display. <br />
                            Try reloading this page if you are sure a new database has been integrated.
                        </p>
                    </div>
                </sb-card>
            


            </div>
        </div>        

    </ng-container>

</sb-layout-dashboard>


<ng-template #processed>
    <div class="card bg-transparent border-0 pb-1 mb-4">
        <div class="card-body">
            <h6 class="text-gray-shade-6 font-weight-light">Graphs</h6>
            <hr>
            <div class="card text-center mb-0">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active' : graph == 'total'}" href="javascript:void(0);"
                                (click)='graph = "total"'>
                                Total GHG Emissions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active' : graph == 'pools'}" href="javascript:void(0);"
                                (click)='graph = "pools"'>
                                Total GHG Emissions - By Carbon Pools
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active' : graph == 'gases'}" href="javascript:void(0);"
                                (click)='graph = "gases"'>
                                Total GHG Emissions - By Gases
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <sb-total-ghg-emissions-chart *ngIf='graph == "total"'></sb-total-ghg-emissions-chart>
                    <sb-total-ghg-emissions-by-pools-chart *ngIf='graph == "pools"'>
                    </sb-total-ghg-emissions-by-pools-chart>
                    <sb-total-ghg-emissions-by-gases-chart *ngIf='graph == "gases"'>
                    </sb-total-ghg-emissions-by-gases-chart>
                </div>
            </div>
        </div>

    </div>


    <div class="card bg-transparent border-0 pb-1 mb-4">
        <div class="card-body">
            <h6 class="text-gray-shade-6 font-weight-light">Tables</h6>
            <hr>
        
            <div class="card text-center mb-4" *ngIf="databaseFilterService.filter.landUseCategoryId == -1">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active' : table == 'forestLand'}" href="javascript:void(0);"
                                (click)='table = "forestLand"'>
                                Forest Land
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active' : table == 'cropland'}" href="javascript:void(0);"
                                (click)='table = "cropland"'>
                                Cropland
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active' : table == 'grassland'}" href="javascript:void(0);"
                                (click)='table = "grassland"'>
                                Grassland
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active' : table == 'wetland'}" href="javascript:void(0);"
                                (click)='table = "wetland"'>
                                Wetland
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <sb-crf-table sector="1" *ngIf='table == "forestLand"'></sb-crf-table>
                    <sb-crf-table sector="2" *ngIf='table == "cropland"'></sb-crf-table>
                    <sb-crf-table sector="3" *ngIf='table == "grassland"'></sb-crf-table>
                    <sb-crf-table sector="4" *ngIf='table == "wetland"'></sb-crf-table>
                </div>
            </div>
        
            <div class="card mb-4" *ngIf="databaseFilterService.filter.landUseCategoryId == configService.forestLandId">
                <div class="card-header">Forest land</div>
                <div class="card-body">
                    <sb-crf-table sector="1"></sb-crf-table>
                </div>
            </div>
        
            <div class="card mb-4" *ngIf="databaseFilterService.filter.landUseCategoryId == configService.cropland">
                <div class="card-header">Cropland</div>
                <div class="card-body">
                    <sb-crf-table sector="2"></sb-crf-table>
                </div>
            </div>
        
            <div class="card mb-4" *ngIf="databaseFilterService.filter.landUseCategoryId == configService.grasslandId">
                <div class="card-header">Grassland</div>
                <div class="card-body">
                    <sb-crf-table sector="3"></sb-crf-table>
                </div>
            </div>
        
            <div class="card mb-4" *ngIf="databaseFilterService.filter.landUseCategoryId == configService.wetlandsId">
                <div class="card-header">Wetland</div>
                <div class="card-body">
                    <sb-crf-table sector="4"></sb-crf-table>
                </div>
            </div>
        </div>
    </div>




    <div class="card bg-transparent border-0 pb-1 mb-4">
        <div class="card-body">
            <h6 class="text-gray-shade-6 font-weight-light">Download</h6>
            <hr>
        
            <div class="d-flex flex-row-reverse mb-5">
                <div class="p-2">


        
                    <!--<sb-button action="download" entity="Database" (download)="downloadCRFTable()"></sb-button>-->

                    <button type="button" class="btn btn-primary d-none d-md-block"
                        data-toggle="tooltip" data-placement="top" title="Download CRF Tables" (click)="downloadCRFTable()">
                        <span class="filter">Download</span>
                    </button>                    
        
                </div>
            </div>
        </div>
    </div>


</ng-template>