<sb-layout-main>
    
    <ng-container header>
        <sb-header title="{{targetPartyType?.name}} Types" subtitle="The main classes of {{targetPartyType?.plural}}" [hideBreadcrumbs]="false"></sb-header>
    </ng-container>
      
    
    <ng-container body>
        <sb-card>
            <div class="card-header">
                {{targetPartyType?.name}} Types List
            </div>
            <div class="card-body">
                <sb-parties-records-tabulation [pageSize]="6"></sb-parties-records-tabulation>
            </div>
        </sb-card>
    </ng-container>

</sb-layout-main>
