<sb-modal shadow="false">

    <ng-container title>
        Create Administrative Hierarchy Type Record
    </ng-container>

    <ng-container body>

        <sb-accountabilities-types-records-creation (initialized)="onInitialized()" (succeeded)="onSucceeded()" (failed)="onFailed($event)">
        </sb-accountabilities-types-records-creation>  
        
        <ng-container *ngIf='(status$ | async) === "initializing"'>
            <sb-message-overlay activity="creating" status="initializing"></sb-message-overlay>
        </ng-container>        

        <ng-container *ngIf='(status$ | async) === "saving"'>
            <sb-message-overlay activity="creating" status="saving"></sb-message-overlay>
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "succeeded"'>
            <sb-message-overlay activity="creating" status="succeeded"></sb-message-overlay>
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "failed"'>
            <sb-message-overlay activity="creating" status="failed"></sb-message-overlay>
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "retrying"'>
            <sb-countdown-overlay crosshead="Retrying in " (completed)="onSave()"></sb-countdown-overlay>
        </ng-container>        

    </ng-container>

    <ng-container footer>

        <ng-container *ngIf='(status$ | async) === "ready"'>
            <sb-button action="save" entity="Accountability Type" (save)="onSave()"></sb-button>
        </ng-container> 

        <ng-container *ngIf='(status$ | async) === "saving"'>
            <sb-button action="save" entity="Accountability Type" disabled="true"></sb-button>
        </ng-container>
        
        <ng-container *ngIf='(status$ | async) === "invalid"'>
            <sb-button action="save" entity="Accountability Type" (save)="onSave()"></sb-button>
        </ng-container>        

        <ng-container *ngIf='(status$ | async) === "succeeded"'>
            <sb-button action="yes" entity="Accountability Type" guarded="false" (yes)="onContinue()"></sb-button>
            <sb-button action="no" entity="Accountability Type" guarded="false" (no)="onQuit()"></sb-button>
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "failed"'>
            <sb-button action="yes" entity="Accountability Type" (yes)="onRetry()"></sb-button>
            <sb-button action="no" entity="Accountability Type" guarded="false" (no)="onQuit()"></sb-button>            
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "retrying"'>
            <sb-button action="yes" entity="Accountability Type" disabled="true"></sb-button>
            <sb-button action="no" entity="Accountability Type" disabled="true"></sb-button>        
        </ng-container>      

    </ng-container>
    
</sb-modal>