<sb-layout-main>
    
    <ng-container header>
        <sb-header title="Domains" subtitle="Spheres of related activities"></sb-header>
    </ng-container>
      
    
    <ng-container body>
        <sb-card>
            <div class="card-header">
                Domains List
            </div>
            <div class="card-body">
                <sb-domains-records-tabulation [pageSize]="6"></sb-domains-records-tabulation>
            </div>
        </sb-card>
    </ng-container>

</sb-layout-main>
