sb-layout-main
  ng-container(header)
    sb-header(title='Domains', subtitle='Spheres of related activities')
  ng-container(body')
    sb-card
      .card-header.text-primary
        | Domains List
      .card-body
        sb-domains-records-tabulation([pagesize]='6')
