<form>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between p-2">
                <sb-search (searched)="onSearch($event)"></sb-search>
                <sb-loading-animation></sb-loading-animation>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col">
            <sb-table>
                <ng-container header>
                    <tr>
                        <th scope="col" class="text-center align-middle">
                            <span>#</span>
                        </th>

                        <th scope="col" sbSortable="name" (sort)="onSort($event)" class="align-middle">
                            <span>Name</span>
                            <sb-sort-icon *ngIf='sortedColumn === "name"' [direction]="sortedDirection"></sb-sort-icon>
                        </th>

                        <th scope="col" sbSortable="plural" (sort)="onSort($event)" class="align-middle">
                            <span>Plural</span>
                            <sb-sort-icon *ngIf='sortedColumn === "plural"' [direction]="sortedDirection"></sb-sort-icon>
                        </th>

                        <th scope="col" sbSortable="symbol" (sort)="onSort($event)" class="align-middle">
                            <span>Symbol</span>
                            <sb-sort-icon *ngIf='sortedColumn === "symbol"' [direction]="sortedDirection"></sb-sort-icon>
                        </th> 

                        <th scope="col" sbSortable="scaleFactor" (sort)="onSort($event)" class="align-middle">
                            <span>Scale Factor</span>
                            <sb-sort-icon *ngIf='sortedColumn === "scaleFactor"' [direction]="sortedDirection"></sb-sort-icon>
                        </th>

                        <th scope="col" class="align-middle">
                            <span class="d-flex flex-row-reverse">
                                Actions
                            </span>
                        </th>
                    </tr>
                </ng-container>

                <ng-container footer>
                    <tr>
                        <td scope="col" colspan="6" class="align-middle">
                            <span class="d-flex flex-row flex-row-reverse">
                                  <sb-button action="add" entity="Unit" (add)="onAddUnit()"></sb-button> 
                            </span>

                        </td>
                    </tr>
                </ng-container>                

                <ng-container body>
                    <tr *ngFor="let unit of unitsTableService.units$ | async">
                        <td class="text-center align-middle">
                            {{unit.pos}}
                        </td>

                        <td class="align-middle">
                            <ngb-highlight [result]="unit.name" [term]="unitsTableService.searchTerm"></ngb-highlight>
                        </td>

                        <td class="align-middle">
                            <ngb-highlight [result]="unit.plural" [term]="unitsTableService.searchTerm"></ngb-highlight>
                        </td> 

                        <td class="align-middle">
                            <ngb-highlight [result]="unit.symbol" [term]="unitsTableService.searchTerm"></ngb-highlight>
                        </td>
                        
                        <td class="align-middle">
                            {{unit.scaleFactor}}
                        </td>                        

                        <td class="align-middle">
                            <span class="d-flex flex-row-reverse">
                                <sb-button action="delete" entity="Unit" id="{{unit.id}}" (delete)="onDeleteUnit($event)"></sb-button>
                                <sb-button action="update" entity="Unit" id="{{unit.id}}" (update)="onUpdateUnit($event)"></sb-button>
                            </span> 
                        </td>
                    </tr>
                </ng-container>
            </sb-table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <sb-pagination (pageChanged)="onPageChange($event)" (pageSizeChanged)="onPageSizeChange($event)">
            </sb-pagination>
        </div>
    </div>

</form>