[req]
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
countryName             = CM
stateOrProvinceName     = Dschang
localityName            = Keleng
organizationName        = MOJAcommonName              = playars-Alienware-m17-R3
