sb-layout-main
  ng-container(header='')
    sb-header(title='Covers Types', subtitle="The observed (bio)physical cover on the earth's surface", [hidebreadcrumbs]='true')
  ng-container(body='')
    ng-content
