sb-accountabilities-records-selection([pagesize]='4', [previouslyselectedaccountabilitiesids]='previouslySelectedAccountabilitiesIds', [disableselectedaccountabilityidstreatment]='disableSelectedAccountabilityIdsTreatment', [selectionmode]='selectionMode', [skipid]='skipId', (select)='onSelect($event)', (check)='onCheck($event)', (uncheck)='onUncheck($event)')
