<sb-layout-main>
    
    <ng-container header>
        <sb-header title="Flux Types" subtitle="Flux Groupings based on causative agents"></sb-header>
    </ng-container>
      
    
    <ng-container body>
        <sb-card>
            <div class="card-header">
                Flux Types List
            </div>
            <div class="card-body">
                <sb-flux-types-records-tabulation [pageSize]="6"></sb-flux-types-records-tabulation>
            </div>
        </sb-card>
    </ng-container>

</sb-layout-main>
