sb-layout-main
  ng-container(header)
    sb-header(title='Flux Types', subtitle='Flux Groupings based on causative agents')
  ng-container(body')
    sb-card
      .card-header
        | Flux Types List
      .card-body
        sb-flux-types-records-tabulation([pagesize]='6')
