form
  .d-flex.flex-column.mb-3
    .p-2
      sb-search((searched)='onSearch($event)')
    .p-2
      sb-loading-animation
  .row
    .col
      sb-table
        ng-container(header='')
          tr
            th.col-sm-11.text-left.align-middle(scope='col', sbsortable='name', (sort)='onSort($event)')
              span Name
              sb-sort-icon(*ngif='sortedColumn === "name"', [direction]='sortedDirection')
            th.col-sm-1.text-center.align-middle(scope='col')
              span.d-flex.justify-content-center
                | Select
        ng-container(body='')
          tr(*ngfor='let fluxType of fluxesTypesTableService.fluxesTypes$ | async')
            td.text-left.align-middle
              // <ngb-highlight [result]="truncate(fluxType.name, [50, '...'])" [term]="fluxesTypesTableService.searchTerm"></ngb-highlight>
              ngb-highlight([result]='fluxType.name', [term]='fluxesTypesTableService.searchTerm')
            td.text-center.align-middle
              span.d-flex.justify-content-center
                div(*ngif='selectionMode === "single"; else multi')
                  sb-button(action='select', entity='FluxType', id='{{fluxType.id}}', name='fluxType', [selected]='isSelected(fluxType.id)', [disabled]='isSelected(fluxType.id) && disableSelectedFluxTypeIdsTreatment', (select)='onSelect($event)')
                ng-template(#multi='')
                  sb-button(action='check', entity='FluxType', id='{{fluxType.id}}', name='fluxType', [checked]='isChecked(fluxType.id)', [disabled]='isChecked(fluxType.id) && disableSelectedFluxTypeIdsTreatment', (check)='onCheck($event)', (uncheck)='onUncheck($event)')
  .row
    .col
      sb-pagination(type='modal', (pagechanged)='onPageChange($event)', (pagesizechanged)='onPageSizeChange($event)')
