
<!-- Progression Graphs -->

<div class="card border-0 bg-transparent m-0 mt-4 p-0">
    <div class="card-body p-0 mt-0">
        <div class="card-deck">
            <div class="card border-0 bg-transparent m-0 p-0"
                *ngFor="let visualization of getProgressionChartsVisualizations() | async">
                <div class="card-body m-0 p-2">
                    <h6 class="mt-2">{{visualization.name}}</h6>
                    <hr />
                    <div class="card border-0 m-0 p-0">
                        <div class="card-body ">
                            <sb-chart [visualization]="visualization" [steps]="5"></sb-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Other Graphs -->

<div class="card border-0 bg-transparent m-0 mt-3 p-0">
    <div class="card-body p-0 mt-0">
        <div class="card-deck">
            <div class="card border-0 bg-transparent m-0 p-0"
                *ngFor="let visualization of getOtherChartsVisualizations() | async">
                <div class="card-body m-0 p-2">
                    <h6 class="mt-2">{{visualization.name}}</h6>
                    <hr />
                    <div class="card border-0 m-0 p-0">
                        <div class="card-body ">
                            <sb-chart [visualization]="visualization"></sb-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>