<sb-layout-main>
     
    <ng-container header>
        <sb-header title="Reporting Tables" subtitle="The Reporting Framework's Reporting Tables" [hideBreadcrumbs]="false"></sb-header>
    </ng-container>
      
    
    <ng-container body>
        <sb-card>
            <div class="card-header">
                Reporting Tables List
            </div>
            <div class="card-body">
                <sb-reporting-tables-records-tabulation [pageSize]="6"></sb-reporting-tables-records-tabulation>
            </div>
        </sb-card>
    </ng-container>

</sb-layout-main>
