sb-layout-main
  ng-container(header='')
    sb-header(title='Administrative Hierarchy Levels', subtitle='The hierarchical layers of Administrative Unit Types in the selected hierarchy', [hidebreadcrumbs]='false', [dynamicbreadcrumbs]='true')
  ng-container(body='')
    ng-content
