<form>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between p-2">
                <sb-search (searched)="onSearch($event)"></sb-search>
                <sb-loading-animation></sb-loading-animation>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col">
            <sb-table>
                <ng-container header>
                    <tr>
                        <th scope="col" class="col-sm-1 text-center align-middle">
                            <span>#</span>
                        </th>
                        <th scope="col" class="col-sm-1 text-center align-middle" sbSortable="code" (sort)="onSort($event)" >
                            <span>Code</span>
                            <sb-sort-icon *ngIf='sortedColumn === "code"' [direction]="sortedDirection"></sb-sort-icon>
                        </th>
                        <th scope="col" class="col-sm-10 text-left align-middle">
                            <span>Description</span>
                        </th>
                    </tr>
                </ng-container>            

                <ng-container body>
                    <tr *ngFor="let coverType of coverTypesTableService.coverTypes$ | async">
                        <td class="text-center align-middle">
                            {{coverType.pos}}
                        </td>
                        <td class="text-center align-middle">
                            <ngb-highlight [result]="coverType.code" [term]="coverTypesTableService.searchTerm"></ngb-highlight>
                        </td>
                        <td class="text-left align-middle"> 
                            <ngb-highlight [result]="coverType.description" [term]="coverTypesTableService.searchTerm"></ngb-highlight>
                        </td>
                    </tr>
                </ng-container>
            </sb-table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <sb-pagination (pageChanged)="onPageChange($event)" (pageSizeChanged)="onPageSizeChange($event)">
            </sb-pagination>
        </div>
    </div>

</form>