sb-emissions-types-records-selection([pagesize]='4', [selectedemissiontypeids]='selectedEmissionTypeIds', [disableselectedemissiontypeidstreatment]='disableSelectedEmissionTypeIdsTreatment', [selectionmode]='selectionMode', (select)='onSelect($event)', (check)='onCheck($event)', (uncheck)='onUncheck($event)')
