form([formgroup]='partiesTypesForm')
  .form-group
    label(for='name') Name
    input#name.form-control(type='text', placeholder='', formcontrolname='name')
    .alert.alert-danger.mt-3(*ngif="partiesTypesForm.get('name')?.invalid && (partiesTypesForm.get('name')?.dirty || partiesTypesForm.get('name')?.touched)")
      div(*ngif="partiesTypesForm.get('name')?.errors.required")
        | Name is required.
      div(*ngif="partiesTypesForm.get('name')?.errors.minlength")
        | Name cannot be less than 2 characters long.
      div(*ngif="partiesTypesForm.get('name')?.errors.maxlength")
        | Name cannot be more than 250 characters long.
      div(*ngif="partiesTypesForm.get('name')?.errors.exists")
        | Name should be unique.
