.alert.alert-danger(role='alert', *ngif='error') {{error}}
sb-parties-types-records-selection(skippreviouslyselectedpartiestypesids='true', [previouslyselectedpartiestypesids]='previouslySelectedPartiesTypesIds', selectionmode='single', (select)='onSelect($event)', (check)='onCheck($event)', (uncheck)='onUncheck($event)')
