sb-layout-main
  ng-container(header)
    sb-header(title='Results', subtitle='The supported reporting structures')
  ng-container(body)
    sb-card
      .card-header
        | Results List
      .card-body
        sb-results-records-tabulation([pagesize]='6')
