@import "styles/variables.scss";

.container {
    width: 100% !important; 
    padding: 0 !important;
}

* {
    font-family: "Roboto";
}

h5 {
    font-size: 80%;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}



