
<div *ngIf="config; else loading">
    <div class="charts">
        <ng-container *ngIf="chartCount <= 1; else multipleCharts">
            <div *ngIf="config.dataLabelledLineChart" id="line{{config.id}}Container" style="height: 400px;"></div>
            <div *ngIf="config.percentageAreaChart" id="area{{config.id}}Container" style="height: 400px;"></div>
            <div *ngIf="config.basicColumnChart" id="column{{config.id}}Container" style="height: 400px;"></div>
            <div *ngIf="config.stackedPercentageColumnChart" id="stackedColumn{{config.id}}Container" style="height: 400px;"></div>
        </ng-container>

        <ng-template #multipleCharts>

            <ul class="nav nav-tabs">
                <li *ngIf="config.dataLabelledLineChart" class="nav-item">
                    <a href="javascript: void(0)" (click)="select('dataLabelledLineChart')"  class="nav-link"
                        [class.active]="selectedChart === 'dataLabelledLineChart'" 
                        [class.open]="selectedChart === 'dataLabelledLineChart'" data-toggle="tab">Line</a>
                </li>
                <li *ngIf="config.percentageAreaChart" class="nav-item">
                    <a href="javascript: void(0)" (click)="select('percentageAreaChart')" class="nav-link"
                        [class.active]="selectedChart === 'percentageAreaChart'" 
                        [class.open]="selectedChart === 'percentageAreaChart'" data-toggle="tab">Area</a>
                </li>
                <li *ngIf="config.basicColumnChart" class="nav-item">
                    <a href="javascript: void(0)" (click)="select('basicColumnChart')" class="nav-link"
                        [class.active]="selectedChart === 'basicColumnChart'" 
                        [class.open]="selectedChart === 'basicColumnChart'" data-toggle="tab">Column</a>
                </li>
                <li *ngIf="config.stackedPercentageColumnChart" class="nav-item">
                    <a href="javascript: void(0)" (click)="select('stackedPercentageColumnChart')" class="nav-link"
                        [class.active]="selectedChart === 'stackedPercentageColumnChart'" 
                        [class.open]="selectedChart === 'stackedPercentageColumnChart'" 
                        data-toggle="tab">Stacked
                        Column</a>
                </li>
            </ul>
            <div class="tab-content">
                <div *ngIf="config.dataLabelledLineChart" class="tab-pane fade"
                    [class.show]="selectedChart === 'dataLabelledLineChart'"
                    [class.active]="selectedChart === 'dataLabelledLineChart'" id="line{{config.id}}">
                    <div id="line{{config.id}}Container" style="height: 400px;"></div>
                </div>
                <div *ngIf="config.percentageAreaChart" class="tab-pane fade"
                    [class.show]="selectedChart === 'percentageAreaChart'"
                    [class.active]="selectedChart === 'percentageAreaChart'" id="area{{config.id}}">
                    <div id="area{{config.id}}Container" style="height: 400px;"></div>
                </div>
                <div *ngIf="config.basicColumnChart" class="tab-pane fade"
                    [class.show]="selectedChart === 'basicColumnChart'"
                    [class.active]="selectedChart === 'basicColumnChart'" id="column{{config.id}}">
                    <div id="column{{config.id}}Container" style="height: 400px;"></div>
                </div>
                <div *ngIf="config.stackedPercentageColumnChart" class="tab-pane fade"
                    [class.show]="selectedChart === 'stackedPercentageColumnChart'"
                    [class.active]="selectedChart === 'stackedPercentageColumnChart'"
                    id="stackedColumn{{config.id}}">
                    <div id="stackedColumn{{config.id}}Container" style="height: 400px;"></div>
                </div>
            </div>
        </ng-template>
    </div>
  </div>
  
  <ng-template #loading>
    <div class="d-flex justify-content-center loading">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-dark-green" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>
  </ng-template>