sb-pools-records-selection([pagesize]='4', [selectedpoolids]='selectedPoolIds', [disableselectedpoolidstreatment]='disableSelectedPoolIdsTreatment', [selectionmode]='selectionMode', (select)='onSelect($event)', (check)='onCheck($event)', (uncheck)='onUncheck($event)')
