div(*ngif='config; else loading')
  .charts
    ng-container(*ngif='chartCount <= 1; else multipleCharts')
      div(*ngif='config.dataLabelledLineChart', id='line{{config.id}}Container', style='height: 400px;')
      div(*ngif='config.percentageAreaChart', id='area{{config.id}}Container', style='height: 400px;')
      div(*ngif='config.basicColumnChart', id='column{{config.id}}Container', style='height: 400px;')
      div(*ngif='config.stackedPercentageColumnChart', id='stackedColumn{{config.id}}Container', style='height: 400px;')
    ng-template(#multiplecharts='')
      ul.nav.nav-tabs
        li.nav-item(*ngif='config.dataLabelledLineChart')
          a.nav-link(href='javascript: void(0)', (click)="select('dataLabelledLineChart')", [class.active]="selectedChart === 'dataLabelledLineChart'", [class.open]="selectedChart === 'dataLabelledLineChart'", data-toggle='tab') Line
        li.nav-item(*ngif='config.percentageAreaChart')
          a.nav-link(href='javascript: void(0)', (click)="select('percentageAreaChart')", [class.active]="selectedChart === 'percentageAreaChart'", [class.open]="selectedChart === 'percentageAreaChart'", data-toggle='tab') Area
        li.nav-item(*ngif='config.basicColumnChart')
          a.nav-link(href='javascript: void(0)', (click)="select('basicColumnChart')", [class.active]="selectedChart === 'basicColumnChart'", [class.open]="selectedChart === 'basicColumnChart'", data-toggle='tab') Column
        li.nav-item(*ngif='config.stackedPercentageColumnChart')
          a.nav-link(href='javascript: void(0)', (click)="select('stackedPercentageColumnChart')", [class.active]="selectedChart === 'stackedPercentageColumnChart'", [class.open]="selectedChart === 'stackedPercentageColumnChart'", data-toggle='tab')
            | Stacked
            | Column
      .tab-content
        .tab-pane.fade(*ngif='config.dataLabelledLineChart', [class.show]="selectedChart === 'dataLabelledLineChart'", [class.active]="selectedChart === 'dataLabelledLineChart'", id='line{{config.id}}')
          div(id='line{{config.id}}Container', style='height: 400px;')
        .tab-pane.fade(*ngif='config.percentageAreaChart', [class.show]="selectedChart === 'percentageAreaChart'", [class.active]="selectedChart === 'percentageAreaChart'", id='area{{config.id}}')
          div(id='area{{config.id}}Container', style='height: 400px;')
        .tab-pane.fade(*ngif='config.basicColumnChart', [class.show]="selectedChart === 'basicColumnChart'", [class.active]="selectedChart === 'basicColumnChart'", id='column{{config.id}}')
          div(id='column{{config.id}}Container', style='height: 400px;')
        .tab-pane.fade(*ngif='config.stackedPercentageColumnChart', [class.show]="selectedChart === 'stackedPercentageColumnChart'", [class.active]="selectedChart === 'stackedPercentageColumnChart'", id='stackedColumn{{config.id}}')
          div(id='stackedColumn{{config.id}}Container', style='height: 400px;')
ng-template(#loading='')
  .d-flex.justify-content-center.loading
    .progress
      .progress-bar.progress-bar-striped.bg-dark-green(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
