sb-covers-types-records-selection([pagesize]='4', [selectedcovertypeids]='selectedCoverTypeIds', [disableselectedcovertypeidstreatment]='disableSelectedCoverTypeIdsTreatment', [selectionmode]='selectionMode', (select)='onSelect($event)', (check)='onCheck($event)', (uncheck)='onUncheck($event)')
