sb-layout-main
  ng-container(header='')
    sb-header(title='Emissions Types', subtitle='Most influential, long-lived and well-mixed Greenhouse Gas Emissions', [hidebreadcrumbs]='true')
  ng-container(body='')
    ng-content
