<form>
    <div class="d-flex flex-column mb-3">
        <div class="p-2">
            <sb-search (searched)="onSearch($event)"></sb-search>
        </div>
        <div class="p-2">
            <sb-loading-animation></sb-loading-animation>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <sb-table>
                <ng-container header>
                    <tr>

                        <th scope="col" class="col-sm-11 text-left align-middle" sbSortable="name"
                            (sort)="onSort($event)">
                            <span>Administrative Unit Type</span>
                            <sb-sort-icon *ngIf='sortedColumn === "name"' [direction]="sortedDirection"></sb-sort-icon>
                        </th>

                        <th scope="col" class="col-sm-1 text-center align-middle">
                            <span class="d-flex justify-content-center">
                                Select
                            </span>
                        </th>
                    </tr>
                </ng-container>

                <ng-container body>

                    <ng-container *ngFor="let accountabilityRule of accountabilitiesRulesTableService.accountabilitiesRules$ | async">
                        <tr *ngIf="!(isPreviouslySelectedOrChecked(accountabilityRule.id) && skipPreviouslySelectedAccountabilitiesRulesIds)">

                            <td class="text-left align-middle">
                                <!--<ngb-highlight [result]="truncate(accountabilityType.name, [50, '...'])" [term]="accountabilitiesRulesTableService.searchTerm"></ngb-highlight>-->
                                <ngb-highlight [result]="accountabilityRule.subsidiaryPartyTypeName"
                                    [term]="accountabilitiesRulesTableService.searchTerm">
                                </ngb-highlight>
                            </td>

                            <td class="text-center align-middle">
                                <span class="d-flex justify-content-center">

                                    <div *ngIf='selectionMode === "single"; else multi'>
                                        <sb-button action="select" entity="AccountabilityType"
                                            id="{{accountabilityRule.id}}" name="accountabilityType"
                                            [selected]="isSelected(accountabilityRule.id)" 
                                            (select)="onSelect($event)">
                                        </sb-button>
                                    </div>

                                    <ng-template #multi>
                                        <sb-button action="check" entity="AccountabilityType" id="{{accountabilityRule.id}}"
                                            name="accountabilityType" [checked]="isChecked(accountabilityRule.id)" 
                                            (check)="onCheck($event)" (uncheck)="onUncheck($event)"></sb-button>
                                    </ng-template>

                                </span>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </sb-table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <sb-pagination type="modal" (pageChanged)="onPageChange($event)"
                (pageSizeChanged)="onPageSizeChange($event)">
            </sb-pagination>
        </div>
    </div>

</form>