// Base styling for the topnav

.sb-topnav {
    padding-left: 0;
    height: $topnav-base-height;
    z-index: $topnav-zindex;
    .navbar-brand {
        width: $sidenav-base-width;
        padding-left: $navbar-padding-x;
        padding-right: $navbar-padding-x;
        margin: 0;
    }
    &.navbar-dark {
        background-color: $topnav-dark-bg;
        #sidebarToggle {
            color: $topnav-dark-toggler-color;
        }
    }
    &.navbar-light {
        background-color: $topnav-light-bg;
        #sidebarToggle {
            color: $topnav-light-toggler-color;
        }
    }
  }
