sb-accountabilities-rules-records-selection([pagesize]='4', [skippreviouslyselectedaccountabilitiesrulesids]='skipPreviouslySelectedAccountabilitiesRulesIds', [previouslyselectedaccountabilitiesrulesids]='previouslySelectedAccountabilitiesRulesIds', [selectionmode]='selectionMode', (select)='onSelect($event)', (check)='onCheck($event)', (uncheck)='onUncheck($event)')
