sb-fluxes-types-records-selection([pagesize]='4', [selectedfluxtypeids]='selectedFluxTypeIds', [disableselectedfluxtypeidstreatment]='disableSelectedFluxTypeIdsTreatment', [selectionmode]='selectionMode', (select)='onSelect($event)', (check)='onCheck($event)', (uncheck)='onUncheck($event)')
