form([formgroup]='landUseCategoriesForm')
  .form-group
    label(for='name') Name
    input#name.form-control(type='text', placeholder='', formcontrolname='name')
    .alert.alert-danger.mt-3(*ngif="landUseCategoriesForm.get('name')?.invalid && (landUseCategoriesForm.get('name')?.dirty || landUseCategoriesForm.get('name')?.touched)")
      div(*ngif="landUseCategoriesForm.get('name')?.errors.required")
        | Name is required.
      div(*ngif="landUseCategoriesForm.get('name')?.errors.minlength")
        | Name cannot be less than 2 characters long.
      div(*ngif="landUseCategoriesForm.get('name')?.errors.maxlength")
        | Name cannot be more than 50 characters long.
      div(*ngif="landUseCategoriesForm.get('name')?.errors.exists")
        | Name should be unique.
  .form-group
    label(for='coverTypeId') Cover Type
    select#coverTypeId.custom-select(formcontrolname='coverTypeId')
      option([ngvalue]='null', disabled='') Select Cover
      option(*ngfor='let coverType of coverTypesDataService.coversTypes$ | async', [ngvalue]='coverType.id') {{coverType.description}}
    .alert.alert-danger.mt-3(*ngif="landUseCategoriesForm.get('coverType')?.invalid && (landUseCategoriesForm.get('coverType')?.dirty || landUseCategoriesForm.get('coverType')?.touched)")
      div(*ngif="landUseCategoriesForm.get('coverType')?.errors.required")
        | Cover Type is required.
