sb-layout-main
  ng-container(header)
    sb-header(title='Unit Categories', subtitle='Units of measurements groupings')
  ng-container(body')
    sb-card
      .card-header
        | Unit Categories List
      .card-body
        sb-unit-categories-records-tabulation([pagesize]='6')
