sb-layout-main
  ng-container(header='')
    sb-header(title='Pools', subtitle='Reservoirs that exchange carbon through output and intake', [hidebreadcrumbs]='true')
  ng-container(body='')
    ng-content
