sb-reporting-frameworks-records-selection([pagesize]='4', [selectedreportingframeworkids]='selectedReportingFrameworkIds', [disableselectedreportingframeworkidstreatment]='disableSelectedReportingFrameworkIdsTreatment', [selectionmode]='selectionMode', (select)='onSelect($event)', (check)='onCheck($event)', (uncheck)='onUncheck($event)')
