<sb-modal>
    <ng-container title>
        Update Flux Type Record
    </ng-container>
    <ng-container body>

        <sb-fluxes-types-records-updation [id]="id" (succeeded)="onSucceeded()" (failed)="onFailed($event)">
        </sb-fluxes-types-records-updation>

        <ng-container *ngIf='(status$ | async) === "saving"'>
            <sb-message-overlay activity="updating" status="saving"></sb-message-overlay>
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "succeeded"'>
            <sb-message-overlay activity="updating" status="succeeded"></sb-message-overlay>
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "failed"'>
            <sb-message-overlay activity="updating" status="failed"></sb-message-overlay>
        </ng-container>

        <ng-container *ngIf='(status$ | async) === "retrying"'>
            <sb-countdown-overlay crosshead="Retrying in " (completed)="onSave()"></sb-countdown-overlay>
        </ng-container>

    </ng-container>
    <ng-container footer>

    <ng-container *ngIf='(status$ | async) === "new"'>
        <sb-button action="save" entity="Flux Type" (save)="onSave()"></sb-button>
    </ng-container>

    <ng-container *ngIf='(status$ | async) === "saving"'>
        <sb-button action="save" entity="Flux Type" disabled="true"></sb-button>
    </ng-container>
    
    <ng-container *ngIf='(status$ | async) === "invalid"'>
        <sb-button action="save" entity="Flux Type" (save)="onSave()"></sb-button>
    </ng-container>        

    <ng-container *ngIf='(status$ | async) === "succeeded"'>
        <sb-button action="save" entity="Flux Type" disabled="true"></sb-button>
    </ng-container>

    <ng-container *ngIf='(status$ | async) === "failed"'>
        <sb-button action="yes" entity="Flux Type" (yes)="onRetry()"></sb-button>
        <sb-button action="no" entity="Flux Type" guarded="false" (no)="onQuit()"></sb-button>  
    </ng-container>

    <ng-container *ngIf='(status$ | async) === "retrying"'>
        <sb-button action="yes" entity="Flux Type" disabled="true"></sb-button>
        <sb-button action="no" entity="Flux Type" disabled="true"></sb-button> 
    </ng-container>     

    </ng-container>
</sb-modal>